#blog-post__nav ul{
  flex: 1;
}

#blog-post__article{
  max-width: 700px;
  margin: 25px auto;
}

#blog-post__article img {
  display: block;
  max-width: 80%;
  max-height: 70vh;
  margin: auto;
  border: 4px solid var(--color-green-d);
  border-radius: 40px;
}

#blog-post__article video{
  width: 95%;
  display: block;
  margin: auto;
  border: 4px solid var(--color-green-d);
  border-radius: 40px;
}

#blog-post__article h1{
  text-align: center;
  text-wrap-style: balance;
  margin-top: 10px;
}

#blog-post__article h2{
  text-wrap-style: balance;
  border-bottom: 1px solid var(--color-green-d);
  padding-left: 5px;
  padding-bottom: 1px;
}

#blog-post__article h3{
  text-align: center;
  text-wrap-style: balance;
  margin: 0;
  margin-bottom: -5px;
}

#blog-post__article p {
  text-indent: 4rex;
}

#blog-post__article pre:has(>code){
  max-height: 400px;
  overflow-y: auto;
  border: 2px dashed var(--color-green-m);
  border-radius: 10px;
  scrollbar-color: var(--color-purple-m) #00000000;
  padding: 10px;
}