#blog-post__nav ul{
  flex: 1;
}

#blog-post__article{
  width: 700px;
  max-width: 80vw;
  margin: 25px auto;
}

#blog-post__article h1{
  text-align: center;
  text-wrap-style: balance;
  margin-top: 10px;
}

#blog-post__article p {
  text-indent: 4rex;
}

#blog-post__article a {
  word-wrap: break-word;
}